name: Sync To Gitee

on: # 这里是github action的触发条件
    schedule:
    - cron: '0 */6 * * *' # 每 6 小时同步一次
    push:
    workflow_dispatch: # 允许手动触发
    delete:
    create:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:

            - name: Sync to Gitee
              uses: wearerequired/git-mirror-action@master
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SYNC_RSA_PRIVATE_KEY }}
              with:
                  source-repo: git@github.com:silvancoder/floodguard.git
                  destination-repo: git@gitee.com:opcnlin/floodguard.git

            - name: Sync to GitLab
              uses: wearerequired/git-mirror-action@master
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SYNC_RSA_PRIVATE_KEY }}
              with:
                  source-repo: git@github.com:silvancoder/floodguard.git
                  destination-repo: git@gitlab.com:silvancoder/floodguard.git
